*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.logo span{
    color: tomato;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: aliceblue;
    padding: 20px 100px;
}

.menu{
    display: flex;
}

.menu li{
    padding: 0px 40px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: blue;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: rgb(12, 20, 20);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu , .close-menu{
    position: absolute;
    color: blue;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 20px;
}

#check{
    display: none;
}





@media (min-width: 100px) and (max-width:600px) {

    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: aliceblue;
        padding: 10px 30px !important;
    }
    
   .menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    /* background-color: rgb(78, 139, 119); */
    background-color: whitesmoke;
    transition: all 0.2s ease-in-out;
   }

   .menu li{
    margin-top: 100px;
   }

   .menu li a{
    padding: 10px;
   }

   .open-menu , .close-menu{
    display: block;
   }

   #check:checked ~ .menu{
    right: 0;
   }
    
}